body {
    font-family: 'Space Mono', monospace;
}

.not-found {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    margin-left: 5vw;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.5rem;
}

.column-2 {
    width: 90vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10vh auto;
    justify-content: space-between;

}

.column-2-item {
    width: 90vw;
}

img {
    height: 25%;
}

button {
    font-family: inherit;
    color: white;
    background-color: black;
    width: 200px;
    font-weight: 700;
    padding: 20px 10px;
    margin-top: 20px;
}

footer {
    color: #BDBDBD;
    margin: 2vh auto;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

}

@media screen and (min-width: 1024px) {
    .column-2-item {
        width: 40vw;
        height: 50%;
    }

    p {
        width: 90%;
    }

}